@font-face {
    font-family: 'Outfit';
    src: url(/fonts/Outfit-SemiBold.woff2);
  }
.title {
    font-family: 'Outfit';
    text-align: center;
}

body {
    margin-left: 10px;
    margin-right: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}