@font-face {
    font-family: 'Outfit';
    src: url(/fonts/Outfit-SemiBold.woff2);
  }
.title {
    font-family: 'Outfit';
    text-align: center;

}

body {
    margin-left: 10px;
    margin-right: 10px;
}

.hidden {
    display: none;
}